<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts | Alpins | Mountain And Trekking Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>

<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo-black-blue-solid.svg" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo-black-blue-solid.svg" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-white-solid.svg" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo-white-solid.svg" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="#">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li>
                                <a href="o-firmie.html">O firmie</a>
                            </li>
                            <li>
                                <a href="pola-namiotowe.html">Pola namiotowe</a>
                            </li>
                            <li>
                                <a href="gallery.html">Galeria</a>
                            </li>
                            <li>
                                <a href="regulamin.html">Regulamin</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="blog.html">BLOG</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="treks.html">Rezerwacja</a>
                        <ul>
                            <li><a href="treks.html">Treks</a></li>
                            <li><a href="treks-single.html">Single trek</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="media/en.png" />EN </a>
                            <ul>
                                <li><a href="#"><img src="media/it.png" />IT</a></li>
                                <li><a href="#"><img src="media/es.png" />ES</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <section class="section-base">
            <div class="container">
                <ul class="accordion-list">
                    <li>
                        <a href="#">Jakie są atrakcje w okolicy?</a>
                        <div class="content">
                            <p>
                                Oba obiekty oferują dostęp do tras rowerowych, pieszych oraz szeroką gamę aktywności,
                                takich jak mini-golf, jazda konna w pobliskiej stadninie czy siatkówka plażowa.
                                Białogóra jest znana z malowniczych plaż, na które można dotrzeć pieszo lub rikszą.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="#">Jakie są udogodnienia na naszym polu namiotowym ?</a>
                        <div class="content">
                            <p>
                                Goście mogą korzystać z pełnych udogodnień, takich jak prysznice, kuchnie turystyczne,
                                plac zabaw dla dzieci oraz dostęp do Wi-Fi. Oferujemy miejsca dla namiotów, kamperów i
                                przyczep z przyłączami elektrycznymi, a także domki letniskowe i pokoje z łazienkami.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="#">Jaka jest lokalizacja naszych pól namiotowych ?</a>
                        <div class="content">
                            <p>
                                Pole namiotowe „Kaszubski Zakątek” w Białogórze i „Kaszub” w Dębkach to miejsca położone
                                w Nadmorskim Obszarze Chronionego Krajobrazu, otoczone lasami i blisko pięknych,
                                szerokich plaż. Idealne dla rodzin, miłośników przyrody i wszystkich, którzy cenią
                                wypoczynek na łonie natury.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="#">Jaka jest odległość od pól namiotowych do morza ?</a>
                        <div class="content">
                            <p>
                                Pola namiotowe znajdują się 250m od morza 50 metrów od wejścia na plaże .
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="#">Jakie są godziny otwarcia pola namiotowego?</a>
                        <div class="content">
                            <p>
                                Pole namiotowe jest otwarte 24 godziny na dobę, 7 dni w tygodniu w sezonie letnim.
                                Recepcja jest czynna od 8:00 do 22:00, a po godzinach można meldować się u ochrony.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="#">Czy na pole namiotowe akceptuje zwierzęta?</a>
                        <div class="content">
                            <p>
                                Tak akceptujemy zwierzęta , jednak prosimy o zachowanie zasad porządku i bezpieczeństwa
                                . Psy muszą być trzymane na smyczy.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>           
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Alpins</h3>
                    <p>gdzieś pomiędzy podnóżem a szczytem znajduje się odpowiedź na zagadke dlaczego się wspinamy.</p>
                </div>
                <div class="col-lg-4">
                    <h3>kontakty</h3>
                    <ul class="icon-list icon-line">
                        <li>dębki łąkowa 5 84-110</li>
                        <li>sekretariat@kpkspzoo</li>
                        <li>+48 602-735-433</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>zapisz sie na newsletter lub obserwuj nas w meidach społecznościowych by być na bieżąco.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 Alpins - szablon wykonany ręcznie przez <a href="https://schiocco.com"
                        target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Contact us</a> | <a href="#">Privacy policy</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
        <script src='themekit/scripts/maps.min.js'></script>
        <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDl7p8SWg-5kLe7i-usdYCu5m3eVllMDTs'></script>
    </footer>
</body>

</html>