<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Galeria | Dębki</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li class="dropdown">
                        <a href="#">Główna</a>
                        <ul>
                            <li><a href="index.html">Główna</a></li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Pages</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a>O nas</a>
                                <ul>
                                    <li><a href="about.html">O nas</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Specjalne</a>
                                <ul>
                                    <li><a href="food.html">Jedzenie</a></li>
                                    <li><a href="shelters.html">Schroniska</a></li>
                                    <li><a href="events.html">Wydarzenia</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Inne</a>
                                <ul>
                                    <li><a href="prices.html">Ceny</a></li>
                                    <li><a href="history.html">Historia</a></li>
                                    <li><a href="gallery.html">Galeria</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements/components/buttons.html">Elementy</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="treks.html">Wędrówki</a>
                        <ul>
                            <li><a href="treks.html">Wędrówki</a></li>
                            <li><a href="treks-single.html">Pojedyńcze wędrówki</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="media/en.png" />EN </a>
                            <ul>
                                <li><a href="#"><img src="media/it.png" />IT</a></li>
                                <li><a href="#"><img src="media/es.png" />ES</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="media/debki1.png" data-offset="0">
        <div class="container">
            <h1>Galeria</h1>
            <h2>Fotografia to wartość</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Główna</a></li>
                <li><a href="#">Strony</a></li>
                <li><a href="#">Galeria</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base ">
            <div class="container">
                <div class="album" data-album-anima="fade-bottom" data-columns-md="2" data-columns-sm="1">
                    <div class="album-list">   
                        <div class="img-scale">
                            <a href="#" class="img-box img-scale">
                                <img src="media/debki2.png" alt="" />
                            </a>
                            <div class="caption">
                                <h3>Dębki</h3>
                            </div>
                        </div>
                        <div class="img-scale">
                            <a href="#" class="img-box img-scale">
                                <img src="media/debki3.png" alt="" />
                            </a>
                            <div class="caption">
                                <h3>Białogóra</h3>
                            </div>
                        </div>
                        <div class="img-scale">
                            <a href="#" class="img-box img-scale">
                                <img src="media/debki4.png" alt="" />
                            </a>
                            <div class="caption">
                                <h3>Krokowa</h3>
                            </div>
                        </div>

                    <div class="cnt-album-box">
                        <p class="album-title"><span>...</span> <a>Album list</a></p>
                        <div class="album-item">
                            <div class="grid-list list-gallery" data-lightbox-anima="fade-top" data-columns="3" data-columns-md="2">
                                <div class="grid-box">
                                    <div class="grid-item">
                                        <a class="img-box" href="https://www.youtube.com/watch?v=2zkvFBIR3II">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="list-pagination">
                                    <ul class="pagination" data-page-items="6" data-pagination-anima="fade-right"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="album-item">
                            <div class="grid-list list-gallery" data-lightbox-anima="fade-top" data-columns="3" data-columns-md="2">
                                <div class="grid-box">
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="list-pagination">
                                    <ul class="pagination" data-page-items="6" data-pagination-anima="fade-right"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="album-item">
                            <div class="grid-list list-gallery" data-lightbox-anima="fade-top" data-columns="3" data-columns-md="2">
                                <div class="grid-box">
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="list-pagination">
                                    <ul class="pagination" data-page-items="6" data-pagination-anima="fade-right"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="album-item">
                            <div class="grid-list list-gallery" data-lightbox-anima="fade-top" data-columns="3" data-columns-md="2">
                                <div class="grid-box">
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="list-pagination">
                                    <ul class="pagination" data-page-items="6" data-pagination-anima="fade-right"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="album-item">
                            <div class="grid-list list-gallery" data-lightbox-anima="fade-top" data-columns="3" data-columns-md="2">
                                <div class="grid-box">
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="list-pagination">
                                    <ul class="pagination" data-page-items="6" data-pagination-anima="fade-right"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="album-item">
                            <div class="grid-list list-gallery" data-lightbox-anima="fade-top" data-columns="3" data-columns-md="2">
                                <div class="grid-box">
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a class="img-box" href="http://via.placeholder.com/800x500">
                                            <img src="http://via.placeholder.com/800x500" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="list-pagination">
                                    <ul class="pagination" data-page-items="6" data-pagination-anima="fade-right"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="title">
                            <h2>Filmy</h2>
                            <p>Żyjemy dla natury</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <ul class="slider" data-options="type:carousel,nav:true,perView:3,perViewSm:2,perViewXs:1,gap:30,controls:out,autoplay:3000">
                            <li>
                                <a class="img-box btn-video lightbox" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top">
                                    <img src="http://via.placeholder.com/800x500" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box btn-video lightbox" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top">
                                    <img src="http://via.placeholder.com/800x500" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box btn-video lightbox" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top">
                                    <img src="http://via.placeholder.com/800x500" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box btn-video lightbox" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top">
                                    <img src="http://via.placeholder.com/800x500" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Dębki</h3>
                    <p>Spokój nad wodą, piaskiem i słońcem</p>
                </div>
                <div class="col-lg-4">
                    <h3>Kontakt</h3>
                    <ul class="icon-list icon-line">
                        <li>Dębki, Pomorskie, Polska</li>
                        <li>hello@example.com</li>
                        <li>02 123 333 444</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Zasubskrybuj nasz newsletter aby być na bieżąco!</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
            
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/pagination.min.js"></script>
    </footer>
</body>
</html>