
<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trek | Alpins | Mountain And Trekking Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-mobile.png.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo-mobile.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li>
                        <a href="#">Główna</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li>
                                <a href="o-firmie.html">O firmie</a>
                            </li>
                            <li>
                                <a href="pola-namiotowe.html">Pola namiotowe</a>
                            </li>
                            <li>
                                <a href="gallery.html">Galeria</a>
                            </li>
                            <li>
                                <a href="regulamin.html">Regulamin</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="blog.html">BLOG</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="treks.html">Rezerwacja</a>
                        <ul>
                            <li><a href="treks.html">Treks</a></li>
                            <li><a href="treks-single.html">Single trek</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="media/en.png" />EN </a>
                            <ul>
                                <li><a href="#"><img src="media/it.png" />IT</a></li>
                                <li><a href="#"><img src="media/es.png" />ES</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="media/polityka.jpg" data-offset="0">
        <div class="container">
            <h1>Polityka Prywatności</h1>
            <h2>Zasady ochrony danych i obowiązek informacyjny</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Treks</a></li>
                <li><a href="#">Single trek</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                
                        <p><b> I. Postanowienia ogólne </p></b>
                        <li>Polityka prywatności określa, jak zbierane, przetwarzane i przechowywane są dane osobowe Użytkowników niezbędne do świadczenia usług drogą elektroniczną za pośrednictwem serwisu internetowego </li>
                        <li>Serwis zbiera wyłącznie dane osobowe niezbędne do świadczenia i rozwoju usług w nim oferowanych.</li>
                        <li>Dane osobowe zbierane za pośrednictwem Serwisu są przetwarzane zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych, dalej RODO) oraz ustawą o ochronie danych osobowych z dnia 10 maja 2018 r.</li>
                        <p><b>II. Cel zbierania danych osobowych</p></b>
                        <li>Dane osobowe wykorzystywane są w celu:</li>
                        <li>rejestracji konta i weryfikacji tożsamości Użytkownika,</li>
                        <li>umożliwienia logowania do Serwisu,</li>
                        <li>realizacji umowy dotyczącej usług i e-usług,</li>
                        <li>komunikacji z Użytkownikiem (livechat, formularz kontaktowy itp.)</li>
                        <li>wysyłki newslettera (po wyrażeniu zgody Użytkownika na jego otrzymywanie),</li>
                        <li>prowadzenia systemu komentarzy,</li>
                        <li>świadczenia usług społecznościowych,</li>
                        <li>promocji oferty Administratora,</li>
                        <li>marketingu, remarketingu, afiliacji,</li>
                        <li>personalizacji Serwisu dla Użytkowników,</li>
                        <li>działań analitycznych i statystycznych,</li>
                        <p><b>IV. Rodzaj przetwarzanych danych osobowych</b></p>
                        <li>Administrator może przetwarzać dane osobowe Użytkownika: imię i nazwisko, data urodzenia, adres zamieszkania, adres e-mail, numer telefonu, NIP.</li>
                        <p><b>V. Okres przetwarzania danych osobowych</b></p>
                        <p>Dane osobowe Użytkowników będą przetwarzane przez okres:</p>
                        <li>gdy podstawą przetwarzania danych jest wykonanie umowy – do momentu przedawnienia roszczeń po jej wykonaniu,</li>
                        <li>gdy podstawą przetwarzania danych jest zgoda – do momentu jej odwołania, a po odwołaniu zgody do przedawnienia roszczeń.</li>
                        <p>W obu przypadkach termin przedawnienia wynosi 6 lat, a dla roszczeń o świadczenia okresowe i roszczeń dotyczących prowadzenia działalności gospodarczej – 3 lata (jeśli przepis szczególny nie stanowi inaczej).</p>
                        <p><b>VI. Udostępnianie danych osobowych</b></p>
                        <li>Dane osobowe Użytkowników mogą być przekazywane: podmiotom powiązanym z Administratorem, jego podwykonawcom, podmiotom współpracującym z Administratorem np. firmom obsługującym e-płatności, firmom świadczącym usługi kurierskie/pocztowe, kancelariom prawnym.</li>
                       <li>Dane osobowe Użytkowników nie będą/będą przekazywane poza teren Europejskiego Obszaru Gospodarczego (EOG).</li>
                        <p><b>VII. Prawa Użytkowników</b></p>
                        <li>Użytkownik Serwisu ma prawo do: dostępu do treści swoich danych osobowych, ich sprostowania, usunięcia, ograniczenia przetwarzania, przenoszenia, wniesienia sprzeciwu wobec przetwarzania, cofnięcia zgody w każdej chwili (co nie ma wpływu na zgodność z prawem przetwarzania dokonanego w oparciu o zgodę przed jej cofnięciem).</li>
                       <li>Zgłoszenie o wystąpieniu przez Użytkownika z uprawnieniem wynikającym z wymienionych praw należy przesłać na adres [adres e-mail].</li>
                       <li>Administrator spełnia lub odmawia spełnienia żądania niezwłocznie – maksymalnie w ciągu miesiąca od jego otrzymania.</li>
                       <li>Użytkownik ma prawo złożyć skargę do Prezesa Urzędu Ochrony Danych Osobowych, jeśli uzna, że przetwarzanie narusza jego prawa i wolności (RODO).</li>
                       <p><b>VIII. Pliki cookies</b></p>
                       <li>Serwis zbiera informacje za pomocą plików cookies – sesyjnych, stałych i podmiotów zewnętrznych.</li>
                       <li>Zbieranie plików cookies wspiera poprawne świadczenie usług w Serwisie i służy celom statystycznym.</li>
                       <li>Użytkownik może określić zakres dostępu plików cookies do swojego urządzenia w ustawieniach przeglądarki.</li>
                       <p><b>IX. Zautomatyzowane podejmowanie decyzji i profilowanie</b></p>
                       <li>Dane Użytkowników nie mogą być przetwarzane w zautomatyzowany sposób tak, że na skutek tego mogłyby zapaść wobec nich jakiekolwiek decyzje.</li>
                       <li>Dane Użytkowników mogą być profilowane celem dostosowania treści i personalizacji oferty po wyrażeniu przez nich zgody.</li>
                       <p><b>X. Postanowienia końcowe</b></p>
                       <li>Administrator ma prawo do wprowadzenia zmian w Polityce prywatności, przy czym prawa Użytkowników nie zostaną ograniczone.</li>
                       <li>Informacja o wprowadzonych zmianach pojawi się w formie komunikatu dostępnego w Serwisie.</li>
                       <li>W sprawach nieuregulowanych w niniejszej Polityce prywatności obowiązują przepisy RODO i przepisy prawa polskiego.</li>
                    

                    
                    
                    
                    

                    
                       
                       
                       <hr class="space-sm" /><hr class="space-xs" />

                        
                    </div>
                    
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Pole namiotowe "Kaszub"</h3>
                    <p>Usytułowane w zachodniej części Dębek około 50 m do wejścia na plażę nr 21 licząc do granicy lasu i około 250 m do Bałtyku.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Kontakty</h3>
                    <ul class="icon-list icon-line">
                        <li>Dębki, ul. Łąkowa 5, 84-110 Krokowa</li>
                        <li>kaszub@kpkspzoo.pl</li>
                        <li>+48 668-283-043</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Zapisz sie na newsletter lub obserwuj nas w mediach społecznościowych by być na bieżąco.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2024 Krokowskie Przedsiębiorstwo Komunalne Sp. z o. o.  Wszystkie prawa zastrzeżone.</span>
                <span><a href="kontakt.html">Skontaktuj się z nami</a> | <a href="polityka-prywatnosci.html">Polityka prywatności</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/tab-accordion.js"></script>
        <script src="themekit/scripts/imagesloaded.min.js"></script>
        <script src="themekit/scripts/progress.js" async></script>
        <script src="themekit/scripts/custom.js" async></script>
        <script src="themekit/scripts/contact-form/contact-form.js" async></script>
    </footer>
</body>
</html>