<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post | Historia | </title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="themekit/css/social.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/logo.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-white.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo-white.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li class="dropdown">
                        <a href="#">Home</a>
                        <ul>
                            <li><a href="index.html">Main</a></li>
                            <li><a href="index-2.html">Home two</a></li>
                            <li><a href="index-3.html">Home three</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Pages</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a>About</a>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="team-2.html">Team two</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Special</a>
                                <ul>
                                    <li><a href="food.html">Food</a></li>
                                    <li><a href="shelters.html">Shelters</a></li>
                                    <li><a href="events.html">Events</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Others</a>
                                <ul>
                                    <li><a href="prices.html">Prices</a></li>
                                    <li><a href="history.html">History</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements/components/buttons.html">Elements</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="treks.html">Treks</a>
                        <ul>
                            <li><a href="treks.html">Treks</a></li>
                            <li><a href="treks-single.html">Single trek</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contacts.html">Contacts</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="media/en.png" />EN </a>
                            <ul>
                                <li><a href="#"><img src="media/it.png" />IT</a></li>
                                <li><a href="#"><img src="media/es.png" />ES</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-base">
        <div class="container">
            <h1>Historia</h1>
          Osady Dębki</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="#">Post</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <img src="media/142.jpg" alt="" />
                        <hr class="space-sm" />
                        <div class="icon-links icon-links-grid icon-social social-colors">
                            <a data-social="share-facebook" class="facebook"><i class="icon-facebook"></i></a>
                            <a data-social="share-twitter" class="twitter"><i class="icon-twitter"></i></a>
                            <a data-social="share-linkedin" class="linkedin"><i class="icon-linkedin"></i></a>
                            <a data-social="share-google" class="google"><i class="icon-google"></i></a>
                        </div>
                        <hr class="space-sm" />
                        <p>
                          
                            Pierwsza wzmianka o Dębkach pochodzi z 1277 kiedy to książę Mściwoj II darował je Norbertankom z Żukowa. W 1279 Dębki stanowiły uposażenie klasztoru żarnowieckiego. Historyczne położenie zabudowań Dębek znajdowało się u ujścia rzeki Piaśnicy[7]. Od XVI do XVIII wieku osadę dzierżawiła rodzina Dembków, od której pochodzi nazwa miejscowości. Po I rozbiorze Polski majątki duchowne, a więc i Dębki przeszły na własność skarbu pruskiego. W XIX wieku w wyniku akcji uwłaszczeniowej osada przeszła w posiadanie rodzin rybackich.

                            Po odzyskaniu niepodległości, po 1920 znaczną część miejscowości wykupiono na działki letniskowe. Modna stała się zwłaszcza w Wielkopolsce. W okresie międzywojennym granica polsko-niemiecka biegła po zachodniej stronie rzeki Piaśnicy a ściślej jej zachodnim równoległym ramieniem Starą Piaśnicą (niem. Alter Piasnitz Bach)[8]. W Dębkach znajdował się posterunek straży granicznej. Osada była wtedy najdalej na zachód położoną miejscowością polskiego wybrzeża. W 1921 roku mieszkało w Dębkach 8 rybaków. Zarejestrowane były 4 łodzie wiosło-żaglowe[9]. W latach 1934–1935 zbudowano drewniany kościół[10]. W okresie międzywojennym wybudowano także z funduszy rządowych piętrową szkołę podstawową z mieszkaniem dla nauczyciela. Przed 1939 w Dębkach miały miejsce obozy harcerskie[5]. Po wojnie Dębki zaczęły rozwijać się turystycznie w latach 1950 i 60. Dynamiczny rozwój osady jako miejscowości letniskowej nastąpił pod koniec XX wieku[11].
                            
                            W latach 1975–1998 miejscowość należała do województwa gdańskiego.
                            
                            W 2002 Dębki były miejscem zdjęć do filmu Dzień świra w reżyserii Marka Koterskiego.
                            
                            W 2008 została ustanowiona rybacka przystań morska (pas plaży)[12].

                        </p> 
                        <p>
                            
                        </p>
                        <div class="list-nav">
                            <a href="post2.html">Ostatni post</a>
                            <a class="list-archive" href="#"></a>
                            <a href="post4.html">Następny post</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <form class="form-box">
                            <div class="input-text-btn">
                                <input class="input-text" type="text" placeholder="Search ..." /><input type="submit" value="Search" class="btn" />
                            </div>
                        </form>
                        <hr class="space-sm" />
                        <h3>Categories</h3>
                        <hr class="space-sm" />
                        <div class="menu-inner menu-inner-vertical">
                            <ul>
                              
                                <li>
                                    <a href="#">
                                        ta strona
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        blog
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        strona główna
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <hr class="space-sm" />
                        <h3>Latest posts</h3>
                        <hr class="space-sm" />
                        <div class="menu-inner menu-inner-vertical menu-inner-image">
                            <ul>
                                <li>
                                    <a href="post.html">
                                        <img src="media/piasnica-debki.jpg" alt="" />
                                        <span>February 12, 2020</span>
                                       Plaża
                                    </a>
                                </li>
                                <li>
                                    <a href="post1.html">
                                        <img src="media/kaszub-recepcja.jpg" alt="" />
                                        <span>April 20, 2020</span>
                                        Domki
                                    </a>
                                </li>
                                <li>
                                    <a href="post4.html">
                                        <img src="media/8439209.jpg" alt="" />
                                        <span>April 20, 2020</span>
                                       Restauracje
                                    </a>
                                </li>
                                <li>
                                    <a href="post3.html">
                                        <img src="media/142.jpg" alt="" />
                                        <span>April 20, 2020</span>
                                        Historia
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr class="space-sm" />
                        <h3>X</h3>
                        <hr class="space-sm" />
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Krokowskie Przedsiębiorstwo Komunalne Sp. z o.o.</h3>
                    <p>Żarnowiec 76, 84-110 Krokowa                    </p>
                </div>
                <div class="col-lg-4">
                    <h3>Dane kontaktowe</h3>
                    <ul class="icon-list icon-line">
                        <li>  Dębki, ul. Łąkowa 5, 84-110 Krokowa </li>
                        <li> kaszub@kpkspzoo.pl </li>
                        <li> Edward Gierek +48 668283043 </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i> <a href= https://www.instagram.com/kaszubdebki> </a>
                    
                    </div>
                    <hr class="space-sm" />
                    <p></p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span> 
                  Jonatan Jankowski i Damian Dosz 4TI <a href="pckziu-puck.pl" target="_blank">pckziu-puck.pl</a>.</span>
                <span><a href="contacts.html">Contact us</a> | <a href="#">Privacy policy</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/pagination.min.js"></script>
        <script src="themekit/scripts/imagesloaded.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/social.min.js"></script>
    </footer>
</body>
</html>