<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atrakcje</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-mobile.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo-mobile.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li class="dropdown">
                        <a href="#">Główna</a>
                        <ul>
                            <li><a href="index.html">Main</a></li>
                            <li><a href="index-2.html">Home two</a></li>
                            <li><a href="index-3.html">Home three</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Oferta</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a>O nas</a>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="team-2.html">Team two</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Regulamin</a>
                                <ul>
                                    <li><a href="food.html">Food</a></li>
                                    <li><a href="shelters.html">Shelters</a></li>
                                    <li><a href="events.html">Events</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>FAQ</a>
                                <ul>
                                    <li><a href="prices.html">Prices</a></li>
                                    <li><a href="history.html">History</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements/components/buttons.html">Elements</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Rezerwacja</a>
                        <ul>
                            <li><a href="treks.html">Atrakcje</a></li>
                         
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontakt</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="media/pl.png" />PL </a>
                            <ul>
                                <li><a href="#"><img src="media/it.png" />IT</a></li>
                                <li><a href="#"><img src="media/es.png" />ES</a></li>
                                <li><a href="#"><img src="media/en.png" />EN </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="media/treks.jpg" data-offset="0">
        <div class="container">
            <h1>Atrakcje</h1>
            <h2>Dobrze jest spędzić czas w pożyteczny sposób!</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Główna</a></li>
                <li><a href="#">Atrakcje</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base section-color">
            <div class="container">
                <div class="maso-list gap-30" data-columns="3" data-columns-lg="2" data-columns-sm="1">
                    <div class="menu-inner">
                        <div><i class="menu-btn"></i><span>Menu</span></div>
                        <ul>
                            <li class="active"><a data-filter="maso-item" href="#">Wszystko</a></li>
                            <li><a data-filter="cat-1" href="#">Ekstremalne</a></li>
                            <li><a data-filter="cat-2" href="#">Rodzinne</a></li>
                            <li><a data-filter="cat-3" href="#">Wodne</a></li>
                            <li><a class="maso-order" data-sort="asc"></a></li>
                        </ul>
                    </div>
                    <div class="maso-box">
                        <div class="maso-item cat-1">
                            <div class="cnt-box cnt-box-info boxed" data-href="https://www.debki.pl/quady-debki-884e184a">
                                <div class="extra-field">Od 200zł</div>
                                <a href="https://www.debki.pl/quady-debki-884e184a" class="img-box"><img src="media/quad.jpg" alt="" /></a>
                                <div class="caption">
                                    <h2>Quady</h2>
                                    <div class="cnt-info">
                                        <div><span>Czas</span><span>1-3h</span></div>
                                        <div><span>Grupa</span><span>4</span></div>
                                        <div><span>Trudność</span><span>Średnia</span></div>
                                    </div>
                                    <p>
                                        Relaks, zabawa i adrenalina gwarantowane!!!
                                    </p>
                                    <div class="bottom-info">
                                       ul.Spacerowa 13, Dębki, Polska
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="maso-item cat-2 cat-3">
                            <div class="cnt-box cnt-box-info boxed" data-href="https://www.debki.pl/splywy-kajakowe-rzeka-piasnica-ef7f0edd">
                                <div class="extra-field">Od 50zł</div>
                                <a href="https://www.debki.pl/splywy-kajakowe-rzeka-piasnica-ef7f0edd" class="img-box"><img src="media/kajak.jpg" alt="" /></a>
                                <div class="caption">
                                    <h2>Spływ Kajakowy Piaśnicą do morza</h2>
                                    <div class="cnt-info">
                                        <div><span>Czas</span><span>2,5h</span></div>
                                        <div><span>Grupa</span><span>4</span></div>
                                        <div><span>Trudność</span><span>Łatwy</span></div>
                                    </div>
                                    <p>
                                        Dla wszystkich ceniących cudowną przyrodę, piękne widoki i aktywny wypoczynek. Łatwa trasa, krętą rzeką Piaśnicą (6 km), którą dopłyniecie do najpiękniejszej plaży w Polsce! Następnie wpłyniecie na płytkie w tym miejscu wody Bałtyku. Jest to fajna przygoda, świetna atrakcja dla dzieci  w Dębkach.
                                    </p>
                                    <div class="bottom-info">
                                        Przy Piaśnicy, Dębki, Polska
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="maso-item cat-1 cat-3 cat-4">
                            <div class="cnt-box cnt-box-info boxed" data-href="https://www.debki.pl/skutery-debki-605b2cb7">
                                <div class="extra-field">Od 150zł</div>
                                <a href="https://www.debki.pl/skutery-debki-605b2cb7" class="img-box"><img src="media/skuter.jpg" alt="" /></a>
                                <div class="caption">
                                    <h2>Skutery</h2>
                                    <div class="cnt-info">
                                        <div><span>Czas</span><span>15 min</span></div>
                                        <div><span>Grupa</span><span>4</span></div>
                                        <div><span>Trudność</span><span>Łatwa</span></div>
                                    </div>
                                    <p>
                                        Dla miłośników adrenaliny i wodnych atrakcji.
                                    </p>
                                    <div class="bottom-info">
                                        Przy wejściu na plażę nr 21, Dębki, Polska
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="maso-item cat-2">
                            <div class="cnt-box cnt-box-info boxed" data-href="https://www.debki.pl/lepimy-z-gliny-ceramika-debki-a86bf74f">
                                <div class="extra-field">Od 75zł</div>
                                <a href="https://www.debki.pl/lepimy-z-gliny-ceramika-debki-a86bf74f" class="img-box"><img src="media/glina.jpg" alt="" /></a>
                                <div class="caption">
                                    <h2>Lepimy z gliny</h2>
                                    <div class="cnt-info">
                                        <div><span>Czas</span><span>1,5h</span></div>
                                        <div><span>Grupa</span><span>5</span></div>
                                        <div><span>Trudność</span><span>Średnia</span></div>
                                    </div>
                                    <p>
                                        Nowa atrakcja w Dębkach - pracownia ceramiczna "Lepimy z gliny" zaprasza dzieci, ale i dorosłych na spotkanie z gliną, z której można wyczarować naprawdę wszystko a przy okazji kreatywnie spędzić czas.
                                    </p>
                                    <div class="bottom-info">
                                        ul. Sasankowa 2, Dębki, Polska
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="maso-item cat-1">
                            <div class="cnt-box cnt-box-info boxed" data-href="https://linowo-debki.pl">
                                <div class="extra-field">Od 20zł</div>
                                <a href="hhttps://linowo-debki.pl" class="img-box"><img src="media/liny.jpg" alt="" /></a>
                                <div class="caption">
                                    <h2>Park linowy</h2>
                                    <div class="cnt-info">
                                        <div><span>Czas</span><span>0,5h</span></div>
                                        <div><span>Grupa</span><span>8</span></div>
                                        <div><span>Trudność</span><span>Średnia</span></div>
                                    </div>
                                    <p>
                                        Atrakcja głównie dla dzieci, składa się z trzech torów o różnej trudności. Najdłuższa trasa na wybrzeżu ponad pół kilometra, 35 przeszkód, 6 zjazdów, a najdłuższy ma 70 metrów! Dla najmłodszych przygotowany jest plac zabaw a dla odważnych 70 m tyrolka.
                                    </p>
                                    <div class="bottom-info">
                                        Dębki, Polska
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="maso-item cat-2">
                            <div class="cnt-box cnt-box-info boxed" data-href="https://www.debki.pl/wieza-widokowa-rybaczowka-c81c0c54">
                                <div class="extra-field">Od 5zł</div>
                                <a href="https://www.debki.pl/wieza-widokowa-rybaczowka-c81c0c54" class="img-box"><img src="media/monte-excursion.jpg" alt="" /></a>
                                <div class="caption">
                                    <h2>Rybaczówka</h2>
                                    <div class="cnt-info">
                                        <div><span>Czas otwarcia</span><span>14:30-20:30</span></div>
                                       
                                      
                                    </div>
                                    <p>
                                        W Dębkach zbudowano dla tutejszych rybaków nowoczesny kompleks "Rybaczówka", która służy do obsługi przystani rybackiej. Jest to miejsce gdzie rybacy naprawiają łodzie, sieci, przechowują sprzęt do połowu ryb. To tutaj można wczesnym rankiem kupić świeżo złowione dorsze, flądry i inne gatunki ryb które żyją w Bałtyku
                                    </p>
                                    <div class="bottom-info">
                                        Dębki, wejście na plażę nr. 19, Polska
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space" />
            </div>
        </section>
        <section class="section-base section-call">
            <div class="container">
                <div class="cnt-box cnt-call">
                    <i class="im-paper-plane"></i>
                    <div class="caption">
                        <h2>Rezerwacja i Kontakt</h2>
                        <p>
                            Potrzebujesz pomocy?
                        </p>
                        <a href="#" class="btn btn-xs">Skontaktuj się z nami</a>
                    </div>
                </div>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Dębki</h3>
                    <p>To miejsce nie odpłynie z twojej głowy.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Kontakt</h3>
                    <ul class="icon-list icon-line">
                        <li>Dominik Kort</li>, Puck, Polska</li>
                        <li>lalalalal@gmail.com</li>
                        <li>02 123 333 444</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2024 - Kaszub by <a>4TI</a>.</span>
                <span></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/isotope.min.js"></script>
    </footer>
</body>
</html>